<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", maxlength: 140,onkeyup: "CountCharLeft(this)" %>
    <div> 
    	There are <label id="ccleft"  style="display:inline">140</label> <label id="ccword" style="display:inline">characters</label> left. 
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>